.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;

}

.username,
.password {
    width: 150px;
    height: 30px;
    border-radius: 7px;
    padding: 3px
}

.sub-btn {
    background-color: teal;
    height: 25px;
    color: white;
    border: none;
    width: 60px;
    border-radius: 6px;
    cursor: pointer;
    /* font-size: 1vw; */

}